---
import Hero from "../components/Hero.astro";
import BottomNav from "../components/BottomNav.astro";
import "../styles/globals.css"
---

<html lang="en" transition:animate="fade">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gustavo Luna - Portfolio</title>
	</head>
  <body class="bg-background text-foreground font-inter flex flex-col items-center justify-center min-h-dvh">
      <Hero />
      <BottomNav currentPage="home" delayAnimation={true} />
	</body>
</html>
